
<div style="position:absolute; left:0px">
	<form action="/" method="get">
		<button type="submit" class="btn btn-danger">BACK</button>
	</form>

	<div class="container" style="margin:auto">  
		<div class="container">
			<center>
				<div>
					<h1 style="color:lightblue; margin-bottom:20px">Log in</h1>
				</div>
			</center>
		</div>
		<form action="login" method="post">
			<div class="container">
				<center>
					<div>
						<input type="text" name="username" placeholder="username" style=" margin-bottom:10px" required>
					</div>
				</center>
			</div>
			<div class="container">
			<center>
				<div>
					<input type="password" name="password" placeholder="password" style=" margin-bottom:10px" required>
				</div>
			</center>
			</div>
			<div class="container">
			<center>
				<div class="tp">
					<input type="submit" value="Log in" class="btn btn-primary">
				</div>
			</center>
			</div>
		</form>
	</div>
</div>