<div style="position:absolute; left:0px">
	<form action="/" method="get">
		<button type="submit" class="btn btn-danger">BACK</button>
	</form>

	<div class="container">  
		<div class="container">
			<center>
				<div>
					<h1 style="color:lightblue; margin-bottom:20px">Register</h1>
				</div>
			</center>
		</div>
		<form action="/users" method="post">
			<div class="container">
				<center>
					<div>
						<input type="text" style="margin-bottom:10px" name="email" placeholder="E-mail" required>
					</div>
				</center>
			</div>
			<div class="container">
			<center>
				<div>
					<input type="text" style="margin-bottom:10px" name="username" placeholder="Username" required>
				</div>
			</center>
			</div>
			<div class="container">
			<center>
				<div>
					<input type="password" style="margin-bottom:10px" name="password" placeholder="Password" required>
				</div>
			</center>
			</div>
			<div class="container">
			<center>
				<div>
					<input type="password" style="margin-bottom:10px" name="rpassword" placeholder="Repeat Password" required>
				</div>
			</center>
			</div>
			<div class="container">
			<center>
				<div class="tp">
					<input type="submit" value="Register" class="btn btn-primary">
				</div>
			</center>
			</div>
		</form>
	</div>
</div>