<div class="container" style="position:absolute; left:50px; top:50px" >
	<h1 style="width:300px;height:100px;margin:auto;color:lightblue" align="center">Battle For The Chain</h1>
	<form action="users/login" method="get">
		<button type="submit" style="width:300px;height:100px;margin:auto;" class="btn btn-primary btn-lg btn-block">Log in</button>
	</form>
	<hr style="border-width:0px" />
	<form action="users/register" method="get">
		<button type="submit" style="width:300px;height:100px;margin:auto;" class="btn btn-default btn-lg btn-block">Register</button>
	</form>
	
</div>